@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/roboto-v20-latin-regular.woff2') format('woff2')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/roboto-v20-latin-500.woff2') format('woff2')
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/roboto-slab-v13-latin-regular.woff2') format('woff2')
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/roboto-mono-v13-latin-regular.woff2') format('woff2')
}

html,
body,
header,
nav,
article,
footer,
h2,
h3,
h4,
p,
em,
code,
ul,
ol,
li,
a,
svg,
iframe {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background: #FAFAFA;
    max-width: 700px;
    margin: auto;
    padding: 0 25px;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures;
}

header {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 1.5em 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header>svg {
    width: 7em;
    height: 3em;
    display: block;
    flex-shrink: 0;
}

header>svg>a path {
    fill: #969696;
    transition: fill 0.2s ease-in-out;
}

header>svg>a ellipse {
    fill: #FAFAFA;
    transition: fill 0.2s ease-in-out;
}

header>svg>a+g ellipse {
    fill: #FAFAFA;
    opacity: 0;
    transition: fill 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

header>svg>a:hover path {
    fill: #FAFAFA;
}

header>svg>a:hover ellipse {
    fill: #FF8000;
}

header>svg>a:hover+g ellipse {
    fill: #FF8000;
    opacity: 1;
}

nav>ul {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 3em;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav>ul>li {
    margin-right: 1em;
}

nav>ul>li>a {
    color: #505050;
    text-decoration: none;
    display: block;
}

article>h2 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.5em;
    margin-top: 1em;
}

article:first-of-type>h2 {
    margin-top: 0.75em;
}

article>h3 {
    font-family: "Roboto Slab", serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

article>h4 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
    margin-top: 1em;
}

article>div {
    color: #505050;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 0.5em;
}

article>div>a {
    color: #505050;
}

article>ul,
article>ol {
    padding-left: 2em;
}

footer>div {
    color: #505050;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 2em;
}

footer>div>a {
    color: #505050;
}

p,
ul,
ol {
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 1em;
}

ul {
    list-style: circle;
}

ul.archive {
    list-style: none;
    padding: 0;
}

li>p {
    line-height: 1em;
}

p>a,
li>a,
h4>a {
    text-decoration: underline;
}

ul.archive>li>time {
    color: #505050;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    display: inline-block;
    width: 6em;
}

ul.archive>li>a {
    text-decoration: none;
}

em {
    font-style: italic;
}

code {
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    font-weight: 400;
}

p>code,
li>code {
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    font-weight: 400;
    /* Solarized Light colors: */
    color: #586E75;
    background-color: #FDF6E3;
}

a {
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #FF8000;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
