html,
body,
header,
nav,
section,
article,
footer,
h1,
h2,
h6,
p,
ul,
li,
a {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
}

ul {
    list-style: none;
}

body {
    width: 700px;
    margin: auto;
    background: #FAFAFA;
    font-family: "Roboto", sans-serif;
}

header {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-variant: small-caps;
}

header>h1>a {
    color: #808080;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    margin-left: 1em;
}

nav>ul>li>a {
    color: #808080;
}

article {
    margin: 50px 0;
    font-size: 20px;
    line-height: 150%;
}

article>h2 {
    font-size: 200%;
    line-height: 150%;
}

article>h6 {
    margin-bottom: 20px;
    font-size: 70%;
    line-height: 150%;
    color: #808080;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #FF8000;
}
