<header>
    <h1>{{>logo}}</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/rss.xml">RSS</a></li>
            <li><a href="/pages/about/">About</a></li>
        </ul>
    </nav>
</header>
