<!doctype html>
<html>

<head>
    {{> meta}}
    <title>About | {{site.title}}</title>
    {{> css}}
    <script src="/scripts/index.js"></script>
    <script>
        initOnLoad();
    </script>
</head>

<body>
    {{> header}}
    <article>
        {{&contents}}
    </article>
</body>

</html>
