<!doctype html>
<html>

<head>
    <title>{{title}} | zzpxyx</title>
    <link href="/styles/index.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/solarized_light.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/languages/vim.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</head>

<body>
    {{>header}}
    <article>
        <h2><a href="/">{{title}}</a></h2>
        <h6>
            Published <time pubdate>{{formatDate publishDate}}</time>
            {{#if modifyDate}}
            | Updated <time>{{formatDate modifyDate}}</time>
            {{/if}}
            | <a href="/">Go Back</a>
        </h6> {{&contents}}
    </article>
</body>

</html>
