html,
body,
header,
nav,
article,
h2,
h3,
h6,
p,
em,
code,
ul,
li,
a,
svg,
iframe {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
}

body {
    background: #FAFAFA;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    line-height: 1.5em;
    width: 700px;
    padding: 0 25px;
    margin: auto;
}

header {
    font-family: "Roboto", sans-serif;
    margin: 2em 0 2em;
    display: flex;
    justify-content: space-between;
}

header>svg {
    width: 7em;
    height: 3em;
    display: block;
}

header>svg>a path {
    fill: #969696;
    transition: fill 0.2s ease-in-out;
}

header>svg>a ellipse {
    fill: #FAFAFA;
    transition: fill 0.2s ease-in-out;
}

header>svg>a+g ellipse {
    fill: #FAFAFA;
    opacity: 0;
    transition: fill 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

header>svg>a:hover path {
    fill: #FAFAFA;
}

header>svg>a:hover ellipse {
    fill: #FF8000;
}

header>svg>a:hover+g ellipse {
    fill: #FF8000;
    opacity: 1;
}

nav>ul {
    list-style: none;
    display: flex;
}

nav>ul>li {
    margin-left: 1em;
}

nav>ul>li>a {
    color: #808080;
    line-height: 3em;
    text-decoration: none;
    display: block;
}

article>h2 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    line-height: 1.5em;
    margin-top: 1em;
}

article>h3 {
    font-family: "Roboto Slab", serif;
    font-size: 28px;
    line-height: 1.5em;
    margin-top: 1em;
}

article>h6 {
    color: #808080;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 1em;
}

article>h6>a {
    color: #808080;
}

article>ul {
    padding-left: 2em;
}

p {
    margin-bottom: 1em;
}

p>a,
li>a {
    color: #000000;
    text-decoration: underline;
}

em {
    font-style: italic;
}

code {
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
}

a {
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #FF8000;
}
